{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>RAPT</title>
</head>
<body>  
    <header class="flex">
        <a href="#">RAPT</a>
        <nav class="flex">
            <a href="#" class="souslignage-gris-hover">Accueil</a>
            <a href="{% url 'page_aleatoire' %}" class="souslignage-gris-hover">Aléatoire</a>
            <input type="search" class="">
        </nav>
    </header>
    <h1 class="titre text-center">Accueil</h1>
    <div class="table flex">
        <ul class ="num_train">
            {% for train in train_list %}
                <li>{{ train.id }}</li>
            {% endfor %}
        </ul>
        <ul class="destination_train">
            {% for train in train_list %}
                <li>{{ train.destination }}</li>
            {% endfor %}
        </ul>
        <ul class="horaire_train">
            {% for train in train_list %}
                <li>{{ train.schedule|time:"H:i" }}</li>
            {% endfor %}
        </ul>
        <ul class="redirection_train">
            {% for train in train_list %}
                <li><a href="{% url 'detail_train' train.id %}" class="souslignage-gris-hover">Voir</a></li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>